SELECT
    l.*
  , u.username as learner_username
  , g.name as game_name
  , g.logo_url as game_logo
FROM learners l
LEFT JOIN users u ON (u.id = l.id_learner)
LEFT JOIN games g ON (l.id_game = g.id)
WHERE id_coach = {id}
