INSERT INTO reviews_coach (id_coach, rating, sociability, adequacy, qualification, id_learner)
VALUES {id_coach}, {rating}, {sociability}, {adequacy}, {qualification}, {id_learner}
RETURNING id_coach;