INSERT INTO reviews_coach (id_coach, rating, sociability, coach_level, qualification, id_learner)
VALUES {id_coach}, {rating}, {sociability}, {coach_level}, {qualification}, {id_learner}
RETURNING id_coach;