INSERT INTO reviews_learner (id_learner, rating, sociability, adequacy, qualification, id_coach)
VALUES {id_learner}, {rating}, {sociability}, {adequacy}, {qualification}, {id_coach}
RETURNING id_learner;